<div class="dashboard-container">

  <aside class="sidebar">

    <div class="logo">
      🐾 BissVet
    </div>

    <div
      class="empresa-actual"
      *ngIf="empresaNombre">
      {{ empresaNombre }}
    </div>

    <nav>

      <a routerLink="/dashboard">
        🏠 Inicio
      </a>

      <a
        *ngFor="let mod of modulos"
        [routerLink]="mod.Ruta || ''"
        [class.activo-seguridad]="mod.Codigo === 'SEGURIDAD'">
        <ng-container *ngIf="mod.Icono; else sinIcono">
          {{ mod.Icono }} {{ mod.NombreModulo }}
        </ng-container>
        <ng-template #sinIcono>
          {{ mod.NombreModulo }}
        </ng-template>
      </a>

    </nav>

    <div class="sidebar-footer">
      <button class="btn-logout" (click)="salir()">
        Salir
      </button>
    </div>

  </aside>

  <main class="contenido-dashboard">

    <router-outlet></router-outlet>

  </main>

</div>